{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    <p>Bienvenue {{ app.user.firstname }} dans votre compte</p>

    <hr>

    <a href="{{ path('app_account_password') }}">Modifier mot de passe</a><br>
    <a href="{{ path('app_account_address') }}">Gérer mes adresses</a><br>
{% endblock %}
