{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    <p>Bienvenue {{ app.user.firstname }} dans votre compte</p>
{% endblock %}
