{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - La boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mot de passe</h1>

    <a href="{{ path('app_account') }}">Retour vers le compte</a>

    <hr>

    {% if notification %} 
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    

    {{ form(form) }}
{% endblock %}
