<a href="{{ path('app_product', { 'slug' : product.slug } ) }}">
    <div class="product-item text-center">
        <img src="/uploads/images/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"> 
    </div>
</a>